/*.post-content {
    font-size: 1em;
    line-height: 1.7;
    color:#444;
    padding-top:27px;
}*/
.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6 {
    color: #ba3925;
}
.post-content h2 {
    text-align: center;
    color: black;
    background: linear-gradient(#fff 60%, #cf4029 40%);
}
.post-content h3 {
    border-left: 4px solid #ba3925;
    padding-left: 6px;
}
.post-content h3,.post-content h2{
    margin: 1.4em 0 1.1em;
}
/*.post-content pre, .comment-content pre {
    padding: 1em 1.5em;
}
.post-content p code, .comment-content p code {
    display:inline;
    margin:0 5px;
    padding:3px 5px;
    border: 1px solid #ddd;
}
.post-content p {
    margin:0 0 1.1em;
}
.post-content p>strong {
    color: red;
    font-weight: bold;
}
.post-content img {
    padding:1em 0;
    margin: auto;
    display: block;
}
.post-content ul {
    overflow: auto;
    padding: .5em 2.4em;
    border-radius: 3px;
    margin:0.5em 0;
}
.post-content li>ul {
    margin: 0;
}
.post-content ul li{
    text-indent: .5em;
}*/